body {
  color: #1f1f1f;
  font-family: Pt root ui;
  font-size: 1.25vw;
  line-height: 1.5;
}

img {
  max-width: 100%;
  object-fit: fill;
  padding-top: 0;
  padding-left: 0;
  display: inline-block;
}

.section {
  padding: 5.625vw 10vw;
  position: relative;
}

.container {
  max-width: 100%;
}

.container.centered {
  flex-direction: column;
  align-items: center;
  display: flex;
}

._100--width {
  width: 100%;
}

._100--width._100--height {
  height: 100%;
  object-fit: cover;
}

.work-item {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  display: grid;
}

.image-holder {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.work-overlay {
  z-index: 1;
  background-color: rgba(31, 31, 31, .3);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.work-link {
  z-index: 10;
  width: auto;
  height: auto;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.project-name-wrap {
  z-index: 1;
  align-items: center;
  padding-right: .8vw;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project-name-relative {
  z-index: 1;
  color: rgba(255, 255, 255, .35);
  text-transform: uppercase;
  font-family: Dorsa;
  font-size: 24vw;
  line-height: 1;
  text-decoration: none;
  position: relative;
}

.project-name-hover {
  z-index: 1;
  transform-origin: 0%;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: Dorsa;
  font-size: 24vw;
  line-height: 1;
  position: absolute;
  left: 0;
  overflow: hidden;
}

.number-wrap {
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: -1.75vw;
}

.body {
  background-color: #fff;
  margin-bottom: 54px;
}

.nav-link {
  font-family: Gilroy, sans-serif;
  font-weight: 400;
}

.image {
  padding-top: 16px;
}

.navbar {
  height: 72px;
  filter: blur();
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-color: #f8f8f8;
  background-clip: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-selected {
  color: #583152;
  font-family: Gilroy, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5px;
  position: relative;
  top: 0;
}

.nav-selected:hover, .nav-selected.w--current {
  color: #583152;
}

.nav-link-3 {
  color: #927676;
  margin-top: 16px;
  font-family: Gilroy, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5px;
}

.nav-link-3.nav-button {
  color: #583152;
  top: 0;
}

.nav-menu {
  margin-right: 42px;
  top: 16px;
}

.footer {
  height: 48px;
  object-fit: fill;
  background-color: #f8f8f8;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-2 {
  z-index: auto;
  margin-left: 128px;
  margin-right: auto;
  position: absolute;
  top: 1%;
  bottom: auto;
  left: 40px;
  right: 0%;
  overflow: visible;
}

.image-3 {
  position: relative;
  bottom: -16px;
  right: -57px;
}

.intro-image {
  padding-top: 72px;
  padding-bottom: 24px;
}

.column {
  padding-left: 16px;
  padding-right: 16px;
}

.image-4 {
  margin-top: 55px;
  margin-left: 172px;
  padding-left: 0;
  position: absolute;
  top: -56px;
  left: -122px;
}

.image-5 {
  position: absolute;
  top: 72px;
  left: 84px;
}

.image-6 {
  position: absolute;
  top: 126px;
  left: 136px;
}

.heading {
  color: #583152;
  text-align: left;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.quote {
  color: #583152;
  border-left: 5px solid #583152;
  margin-left: 7%;
  padding-left: 2%;
  padding-right: 11%;
  font-family: Gilroy, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  position: relative;
}

.div-block {
  margin-top: 72px;
  margin-bottom: 72px;
}

.article-pages {
  max-height: 291.5px;
  margin-bottom: 42px;
}

.column-2 {
  height: 291.5px;
  max-height: 291.5px;
  -webkit-text-fill-color: inherit;
  object-fit: contain;
  background-color: #f8f8f8;
  background-clip: border-box;
  border-radius: 5px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.25px;
  transition: background-color .5s;
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, .1);
}

.column-2:hover {
  -webkit-text-fill-color: inherit;
  mix-blend-mode: normal;
  background-color: #583152;
  background-clip: border-box;
}

.image-7 {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  display: block;
  position: relative;
}

.image-7:hover {
  max-width: 90%;
  object-fit: scale-down;
  position: static;
}

.image-8 {
  width: 80%;
  height: 100%;
  object-fit: contain;
  margin-left: 81px;
  padding-top: 22px;
  padding-left: 0;
  transition: flex-grow .2s;
  display: block;
}

.image-8:hover {
  width: 80%;
  height: 100%;
  max-width: 80%;
  margin-top: 12px;
  margin-left: 81px;
  padding-top: 0;
  overflow: visible;
}

.image-9 {
  object-fit: contain;
  margin-top: 10px;
  margin-bottom: -9px;
  margin-left: 47px;
  padding-bottom: 0;
  padding-left: 100px;
}

.heading-2 {
  color: #583152;
  text-transform: uppercase;
  font-family: Rubik, sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
}

.heading-3 {
  color: #583152;
  text-align: center;
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  display: flex;
  position: relative;
}

.heading-4 {
  color: #927676;
  margin-bottom: 1%;
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.body-large {
  margin-bottom: 10px;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.article-column {
  padding-top: 48px;
  padding-left: 32px;
}

.column-4, .column-5 {
  padding-left: 28px;
}

.intro-divider {
  font-size: 2px;
}

.delete-me {
  height: 2px;
  background-color: #bfacac;
  margin-top: 18px;
  margin-bottom: 48px;
  font-size: 1px;
  line-height: 1.5px;
}

.intro-text {
  color: #927676;
  text-align: center;
  margin-bottom: 31px;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.arrow-left {
  object-fit: fill;
  margin-top: -52px;
  margin-left: 181px;
  padding-top: 0;
  padding-left: 0;
  position: absolute;
  top: 644px;
  left: 527px;
}

.arrow-right {
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
  padding-left: 0;
  position: relative;
  top: -43%;
  bottom: 0%;
  left: 38%;
  right: auto;
}

.section-2 {
  max-height: 12%;
  max-width: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.section-2:hover {
  font-size: 0;
}

.column-6 {
  display: block;
}

.image-11 {
  width: auto;
  height: auto;
  max-height: 100%;
  object-fit: fill;
  padding-left: 0;
  display: block;
  overflow: hidden;
}

.image-11:hover {
  max-width: 96%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 9px;
}

.image-12 {
  width: 60%;
  object-fit: fill;
  margin-left: 77px;
  font-family: Rubik, sans-serif;
  position: relative;
}

.image-13 {
  width: 60%;
  margin-left: -203px;
  position: absolute;
}

.image-14 {
  width: 60%;
  margin-top: -549px;
  margin-left: -35px;
  padding-top: 0;
  position: relative;
}

.image-15 {
  width: 25%;
  margin-top: -579px;
  margin-left: -153px;
  position: relative;
}

.image-16 {
  width: 60%;
  position: relative;
}

.image-17 {
  width: 50%;
  margin-top: -400px;
  margin-left: 172px;
  padding-left: 0;
  position: static;
}

.image-18 {
  width: 50%;
  margin-left: 23px;
  padding-left: 0;
}

.image-19 {
  width: 50%;
  margin-top: -130px;
  margin-left: 48px;
  padding-left: 0;
}

.image-20 {
  width: 50%;
  margin-top: 66px;
  margin-left: -135px;
  padding-left: 0;
  position: relative;
}

.image-21 {
  width: 12%;
  margin-top: -21px;
  margin-left: -112px;
  padding-left: 0;
}

.image-22 {
  width: 50%;
  object-fit: contain;
  margin-top: -237px;
  margin-left: 64px;
  padding-left: 0;
  position: static;
}

.image-23 {
  width: 50%;
  object-fit: contain;
  margin-top: -66px;
  margin-left: 185px;
  padding-left: 0;
}

.image-24 {
  width: 109%;
  height: 52009.4%;
  padding-left: 0;
  position: absolute;
}

.image-25 {
  padding-left: 0;
  position: absolute;
}

.image-26 {
  max-height: 24473.4%;
  padding-left: 0;
  position: absolute;
  left: -15px;
}

.image-27, .image-28 {
  padding-left: 0;
  position: absolute;
}

.image-29 {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: fill;
  padding-left: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-30 {
  width: 65%;
  max-height: 100%;
  margin-top: 7px;
  margin-left: 102px;
  padding-left: 0;
  position: static;
}

.image-31 {
  max-height: 100%;
  padding-left: 0;
  position: absolute;
  top: 14px;
  left: 5px;
}

.image-32 {
  width: 42%;
  object-fit: fill;
  padding-left: 0;
  position: absolute;
  top: 77px;
  left: 12px;
}

.image-33 {
  width: 2%;
  padding-left: 0;
  position: absolute;
  left: 604px;
}

.image-34 {
  width: 2%;
  height: 63.1124%;
  padding-left: 0;
  position: relative;
  top: 64%;
  bottom: 0%;
  left: 36%;
  right: 0%;
}

.scroll-up {
  justify-content: center;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-3 {
  margin-bottom: 112px;
}

.image-35 {
  width: 36px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 0;
}

.image-36 {
  width: 2%;
  padding-left: 0;
  position: relative;
  left: 564px;
  transform: rotate(0);
}

.image-37, .image-38, .image-39, .image-40 {
  padding-left: 0;
}

.nav-bar {
  max-height: 100%;
  max-width: 100%;
  background-color: #f8f8f8;
  padding-left: 42px;
  padding-right: 42px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.nav-deselected {
  color: #927676;
  font-family: Gilroy, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5px;
  transition: color .2s;
  top: 0;
}

.nav-deselected:hover {
  color: #583152;
}

.nav-deselected.w--current {
  color: #927676;
}

.div-block-5 {
  width: 100%;
  height: 100%;
  color: #f8f8f8;
  object-fit: contain;
  background-color: #f8f8f8;
  overflow: hidden;
}

.body-2 {
  background-color: #fff;
  margin-bottom: 0;
  overflow: visible;
}

.image-41 {
  width: 64%;
  height: 300%;
  text-align: left;
  padding-left: 0;
  position: relative;
  left: 188px;
  right: 0;
}

.columns {
  color: #f8f8f8;
}

.column-7 {
  color: #f8f8f8;
  margin-bottom: 2%;
}

.article-name {
  color: #f8f8f8;
  object-fit: contain;
  padding-bottom: 19px;
}

.heading-5 {
  color: #583152;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Rubik, sans-serif;
  font-size: 34px;
  font-weight: 900;
  line-height: 34px;
}

.div-block-6 {
  padding-top: 10%;
  padding-left: 30%;
}

.heading-6 {
  color: #927676;
  margin-top: 4px;
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.image-42 {
  margin-top: -29px;
  margin-left: 21%;
  padding-left: 0;
}

.div-block-7 {
  height: 16rem;
  object-fit: fill;
  padding-top: 0%;
  padding-left: 10%;
  overflow: visible;
}

.column-8 {
  object-fit: contain;
  overflow: visible;
}

.article-specs {
  border-bottom: 2px #bfacac;
  border-radius: 0;
  margin-top: 24px;
  margin-bottom: 0;
}

.body-header {
  color: #583152;
  margin-bottom: 4px;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.body-reg {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.columns-2 {
  margin-bottom: 22px;
}

.landing-quote {
  color: #303030;
  font-family: Gilroy, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.quote-container {
  margin-bottom: 24px;
}

.heading-7 {
  color: #583152;
  font-family: Gilroy, sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.heading-8 {
  font-family: Gilroy, sans-serif;
}

.article-section {
  object-fit: contain;
  margin-top: 12px;
  margin-bottom: 0;
  padding-bottom: 24px;
  padding-left: 16%;
  padding-right: 16%;
  overflow: visible;
}

.body-small {
  white-space: normal;
  margin-top: 4px;
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.article-area {
  margin-bottom: 72px;
  padding-bottom: 0;
}

.section-3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.preview-button {
  width: 100%;
  height: 16rem;
  max-height: 100%;
  max-width: 100%;
  color: rgba(0, 0, 0, 0);
  background-color: #bfacac;
  border-radius: 6px;
  padding: 0 10px 5px;
  transition: background-color .4s;
  overflow: hidden;
}

.preview-button:hover {
  background-color: #927676;
}

.image-43 {
  max-height: none;
  max-width: none;
  margin-top: 18px;
  margin-bottom: 0;
  margin-left: 0;
  padding: .8rem 0 0;
}

.image-44 {
  padding-top: 0;
  padding-left: 0;
}

.image-45 {
  margin-left: 0;
  padding-left: 20%;
  padding-right: 20%;
}

.image-46 {
  margin-bottom: 10px;
  padding-left: 0;
}

.quote-2 {
  color: #927676;
  border-left: 5px solid #583152;
  padding-left: 2%;
  padding-right: 11%;
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.quote-link {
  color: #583152;
  text-align: right;
  justify-content: flex-end;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: flex;
}

.div-block-9 {
  margin-top: 12px;
}

.div-line {
  border-bottom: 2px solid #bfacac;
  margin-bottom: 24px;
  margin-left: 16%;
  margin-right: 16%;
}

.kazoo-intro-section {
  padding-left: 0%;
}

.link-quote {
  color: #583152;
  text-align: right;
}

.takeaways {
  margin-bottom: 0;
  padding-bottom: 2%;
  position: relative;
}

.image-47 {
  padding-left: 0;
}

.article-image {
  background-color: #bfacac;
  background-image: url('../images/Frame-95-1.png');
  background-position: 0 0;
  background-size: auto;
  border-radius: 6px;
  padding: 2% 0%;
}

.image-48 {
  padding-left: 0;
}

.div-block-10 {
  background-color: #f8f8f8;
  margin: -6% auto 2rem;
  padding-top: 50%;
}

.image-49 {
  max-width: 85%;
  padding-left: 0;
  position: absolute;
  top: -15%;
}

.div-block-11 {
  margin-top: 8%;
}

.image-50 {
  padding-left: 10%;
}

.back-to-the-top {
  text-decoration: underline;
}

.scroll-uo {
  color: #927676;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.link-block-2 {
  justify-content: center;
  display: flex;
  position: absolute;
}

.link-block-3 {
  color: #583152;
  justify-content: center;
  padding-top: 24px;
  text-decoration: underline;
  display: flex;
}

.image-51 {
  margin-top: -92px;
  overflow: visible;
}

.preview-button-2 {
  width: 100%;
  height: 16rem;
  max-height: 100%;
  max-width: 100%;
  color: rgba(0, 0, 0, 0);
  background-color: #f8f8f8;
  border-radius: 6px;
  padding: 0 0 24px;
  transition: background-color .4s;
  overflow: hidden;
}

.preview-button-2:hover {
  background-color: #583152;
}

.image-52 {
  position: absolute;
  top: 5.938px;
}

.div-block-13 {
  justify-content: flex-end;
  display: flex;
}

.div-block-14 {
  display: block;
  overflow: hidden;
}

.div-block-15 {
  height: 16rem;
  max-height: 100%;
  max-width: 100%;
  background-image: url('../images/canva_Orvos.gif');
  background-position: 50% 80%;
  background-repeat: repeat;
  background-size: cover;
  border-radius: 6px;
  overflow: visible;
}

.image-53 {
  padding-top: 28px;
}

.image-54 {
  padding-top: 0;
  padding-bottom: 0;
}

.body-link {
  color: #583152;
  font-weight: 700;
}

.image-55 {
  position: absolute;
  top: -33.797px;
  overflow: hidden;
}

.image-56 {
  padding-bottom: 24px;
}

.div-block-16 {
  padding-top: 0;
}

.div-block-17 {
  margin-top: 0;
  margin-bottom: 12px;
  padding-top: 12px;
}

.div-block-18 {
  margin-top: 67px;
}

.container-3 {
  margin-top: 91px;
}

.column-10 {
  padding-left: 24px;
}

.column-11, .column-12, .column-13 {
  padding-bottom: 24px;
}

.columns-3 {
  padding-bottom: 102px;
}

.galleryimg {
  padding-top: 12px;
  padding-bottom: 12px;
}

.div-block-19 {
  text-align: center;
}

.div-block-20 {
  width: 20rem;
  height: 20rem;
  max-height: 100%;
  max-width: 100%;
  padding: 48px;
}

.container-4 {
  justify-content: center;
  display: flex;
}

.container-5 {
  padding-bottom: 48px;
}

.div-block-21 {
  text-align: center;
  justify-content: center;
  margin-top: 4%;
  display: block;
}

.image-57 {
  width: auto;
  height: auto;
  padding: 2% 10%;
}

.image-57:hover {
  padding-left: 14%;
}

.div-block-22 {
  color: #927676;
  justify-content: center;
  display: inline-block;
}

.div-block-23 {
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.image-58 {
  width: 60%;
}

.scroll-to-discover {
  color: #927676;
  justify-content: center;
  margin-bottom: 0;
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  display: flex;
}

.image-59 {
  max-width: 80%;
}

.image-60, .image-61, .div-block-24 {
  padding-bottom: 48px;
}

.div-block-25 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.div-block-26 {
  margin-top: 19px;
}

.div-block-28 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2%;
  padding-bottom: 2%;
}

.div-block-29 {
  object-fit: fill;
}

.column-14 {
  display: inline-block;
  position: relative;
}

.image-63 {
  display: inline-block;
}

.heading-9 {
  font-family: Gilroy, sans-serif;
}

.image-64 {
  color: #583152;
}

.submit-button {
  background-color: #583152;
  border-radius: 10px;
  font-family: Gilroy, sans-serif;
}

.heading-10 {
  color: #583152;
  text-align: center;
  font-family: Rubik, sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-decoration: none;
}

.image-65 {
  padding: 5% 3% 0% 10%;
  display: block;
}

.div-block-31 {
  display: inline-block;
}

.image-66 {
  padding-top: 0;
  padding-bottom: 0;
  overflow: visible;
}

.div-block-32 {
  display: flex;
}

.design-showcase {
  object-fit: contain;
}

.showcase {
  clear: left;
  object-fit: contain;
  background-color: #f8f8f8;
  margin-bottom: 4%;
  padding-top: 0%;
  padding-bottom: 0%;
  overflow: hidden;
}

.image-67 {
  object-fit: contain;
  padding: 2% 10%;
  position: static;
  overflow: hidden;
}

.image-68 {
  padding-right: 0;
}

.image-69 {
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}

.image-70 {
  padding-bottom: 0;
  padding-left: 152px;
}

.image-71 {
  padding-top: 0;
  padding-left: 79px;
}

.image-72 {
  max-width: 70%;
  padding-left: 0%;
  display: block;
}

.image-73 {
  max-width: 80%;
  padding-left: 10%;
}

.image-74 {
  padding-left: 15%;
  padding-right: 16%;
  overflow: visible;
}

.div-block-34 {
  justify-content: flex-end;
  margin-bottom: 29px;
  padding-right: 12%;
  display: flex;
}

.quote-link-2 {
  color: #583152;
  text-align: right;
  justify-content: flex-end;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  font-weight: 600;
  display: flex;
}

.div-block-35 {
  padding-right: 10%;
}

.gd-links {
  padding-right: 0%;
}

.link-block-4 {
  padding-right: 2%;
}

.block-img {
  height: 16rem;
  object-fit: contain;
  padding-top: 3%;
  padding-left: 10%;
  overflow: hidden;
}

.yge-article-title {
  color: #d6243e;
  object-fit: contain;
  background-color: #d6243e;
  padding-bottom: 19px;
  overflow: hidden;
}

.image-75 {
  object-fit: fill;
  padding-left: 66px;
  overflow: visible;
}

.heading-white {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.heading-6-white {
  color: #fff;
  margin-top: 4px;
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
}

.heading---centred {
  color: #583152;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.section-4 {
  text-align: center;
  padding-top: 2%;
}

.article-image---des-challenge {
  background-color: #bfacac;
  background-image: url('../images/Frame-95-1.png');
  background-position: 0 0;
  background-size: cover;
  border-radius: 6px;
  padding: 2% 0%;
}

.div-block-36 {
  justify-content: center;
  margin-bottom: 2%;
  padding-top: 2%;
  display: flex;
}

.div-block-37 {
  justify-content: center;
  display: flex;
}

.image-76 {
  max-width: 70%;
  display: block;
}

.image-77 {
  max-width: 50%;
}

.image-78 {
  max-width: 60%;
}

.image-79, .image-80, .image-81, .image-82 {
  max-width: 70%;
}

.div-block-38 {
  display: inline-block;
}

.div-block-6-mobile {
  padding-top: 10%;
  padding-left: 64%;
}

.heading-white-mobile {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.titile-block {
  height: auto;
  object-fit: fill;
  padding-top: 0%;
  padding-bottom: 0;
  padding-left: 10%;
  overflow: visible;
}

.columns-4 {
  object-fit: contain;
  overflow: hidden;
}

.quick-stack {
  padding-left: 20%;
  padding-right: 20%;
}

.image-83, .image-84 {
  padding-top: 4%;
}

.div-block-39 {
  padding-bottom: 6%;
  padding-left: 20%;
  padding-right: 20%;
}

.image-85 {
  padding-top: 8%;
}

.image-86, .image-87 {
  padding-top: 4%;
}

.image-88 {
  max-width: 70%;
}

.columns-5 {
  margin-bottom: 6%;
  padding-top: 2%;
  padding-left: 30%;
  padding-right: 30%;
}

.image-89 {
  max-width: 80%;
  padding-left: 10%;
}

.image-90 {
  max-width: 100%;
  padding-left: 30%;
  padding-right: 30%;
}

.div-block-40 {
  padding-bottom: 2%;
  padding-left: 30%;
  padding-right: 30%;
}

.image-91 {
  padding-top: 0%;
}

.image-92 {
  padding-bottom: 4%;
}

.image-93 {
  padding-bottom: 0%;
}

.image-94, .image-95 {
  padding-top: 4%;
}

.div-block-41 {
  margin-bottom: 6%;
}

.image-96 {
  padding-top: 2%;
}

.div-block-42 {
  padding-left: 24%;
  padding-right: 24%;
}

.html-embed {
  justify-content: center;
  display: flex;
}

.section-5 {
  padding-bottom: 2%;
}

@media screen and (min-width: 1440px) {
  .preview-button-2:hover {
    background-color: #583152;
  }
}

@media screen and (max-width: 991px) {
  .body:hover {
    font-size: 1.25vw;
  }

  .image-2 {
    margin-left: 123px;
  }

  .intro-image {
    padding-left: 5%;
    padding-right: 5%;
  }

  .heading {
    font-size: 32px;
    line-height: 42px;
  }

  .column-2 {
    object-fit: contain;
    padding-top: 0;
    overflow: hidden;
  }

  .image-8 {
    margin-left: 58px;
    display: block;
  }

  .image-8:hover {
    margin-left: 56px;
  }

  .image-9 {
    padding-bottom: 8px;
    padding-left: 0;
  }

  .article-column {
    padding-top: 24px;
  }

  .arrow-right {
    left: -16%;
  }

  .column-6 {
    padding-left: 12px;
    padding-right: 22px;
  }

  .image-14 {
    width: 60%;
  }

  .image-15 {
    width: 15%;
  }

  .image-30 {
    margin-left: 110px;
  }

  .image-31 {
    top: 8px;
    left: 39px;
  }

  .image-32 {
    top: 57px;
    left: 41px;
  }

  .image-34 {
    left: 33%;
  }

  .image-36 {
    left: 456px;
  }

  .image-41 {
    left: 271px;
  }

  .div-block-6 {
    margin-left: 25px;
    padding-left: 25%;
  }

  .image-42 {
    margin-top: -8px;
    margin-left: 23px;
    padding-left: 0;
    display: inline-block;
  }

  .column-8 {
    padding-left: 0;
  }

  .columns-2 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .article-section {
    padding-right: 10%;
  }

  .preview-button {
    height: 8rem;
  }

  .image-43 {
    margin-top: 6px;
    margin-left: 0;
    padding-top: 6%;
    padding-right: 0;
  }

  .image-45 {
    margin-left: -1px;
  }

  .image-46 {
    padding-left: 0;
  }

  .quote-link {
    margin-left: 2px;
  }

  .kazoo-intro-section {
    padding-left: 2%;
    padding-right: 2%;
  }

  .div-block-10 {
    margin-top: 2%;
  }

  .image-49 {
    top: -12%;
  }

  .scroll-uo {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    margin-bottom: 1px;
    padding-bottom: 0;
    font-weight: 800;
  }

  .image-51 {
    margin-top: -10px;
  }

  .preview-button-2 {
    height: 8rem;
  }

  .div-block-15 {
    height: 12rem;
    background-position: 30% 100%;
    background-size: cover;
    background-attachment: scroll;
  }

  .image-55 {
    top: 3.203px;
  }

  .image-62 {
    max-height: 100%;
    overflow: auto;
  }

  .image-65 {
    padding-left: 4%;
    padding-right: 2%;
  }

  .showcase {
    padding-top: 3%;
    padding-bottom: 0%;
  }

  .image-67 {
    padding-top: 8%;
  }

  .image-73 {
    max-width: 100%;
    padding-top: 4%;
    padding-left: 0%;
    padding-right: 2%;
  }

  .div-block-33 {
    padding-left: 15%;
  }

  .div-block-34 {
    justify-content: center;
  }

  .quote-link-2 {
    margin-left: 2px;
  }

  .gd-links {
    padding-right: 0%;
  }

  .link-block-4 {
    padding-left: 2%;
    padding-right: 2%;
  }

  .heading-white, .heading---centred {
    font-size: 32px;
    line-height: 42px;
  }

  .div-block-6-mobile {
    margin-left: 25px;
    padding-left: 25%;
  }

  .heading-white-mobile {
    font-size: 32px;
    line-height: 42px;
  }

  .div-block-39 {
    padding-left: 18%;
    padding-right: 18%;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    background-color: #fff;
    margin-right: 0;
  }

  .image-2 {
    margin-top: -13px;
    margin-left: 216px;
  }

  .image-3 {
    margin-left: 145px;
    position: static;
  }

  .column {
    display: inline-block;
  }

  .image-4 {
    margin-top: 47px;
    margin-left: 258px;
  }

  .image-5 {
    margin-top: -17px;
    margin-left: 85px;
  }

  .image-6 {
    margin-top: -19px;
    margin-left: 87px;
  }

  .article-pages {
    margin-top: -40px;
  }

  .column-2 {
    max-height: 100%;
    min-height: 59.2%;
    margin-top: 51px;
    padding-top: 0;
  }

  .image-8 {
    margin-left: 77px;
    padding-left: 0;
  }

  .image-8:hover {
    margin-left: 63px;
  }

  .image-9 {
    margin-top: 26px;
    margin-left: 77px;
    padding-top: 0;
    padding-left: 0;
    overflow: visible;
  }

  .article-column {
    padding-top: 24px;
  }

  .menu-button {
    width: 12.9979%;
    height: 113%;
    max-height: 110%;
    max-width: 13%;
    color: #583152;
    background-color: #f8f8f8;
    padding: 18px;
    font-size: 36px;
    transition: background-color .2s;
  }

  .menu-button.w--open {
    color: #583152;
    background-color: rgba(48, 48, 48, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 18px;
  }

  .icon {
    padding: 0;
  }

  .container-2 {
    padding-right: 24px;
  }

  .image-14 {
    width: 60%;
  }

  .image-30 {
    margin-top: -12px;
    margin-left: 185px;
  }

  .image-31 {
    margin-left: 9px;
  }

  .image-32 {
    margin-top: 3px;
    margin-left: 11px;
    top: 91px;
    left: 47px;
  }

  .image-34 {
    top: 109%;
    left: 31%;
    overflow: visible;
  }

  .image-36 {
    position: absolute;
    top: 0;
    left: 378px;
  }

  .nav-bar {
    max-height: 100%;
  }

  .div-block-5 {
    height: 20rem;
  }

  .image-41 {
    object-fit: scale-down;
    left: 91px;
  }

  .column-7 {
    padding-left: 0;
  }

  .div-block-6 {
    padding-left: 24%;
  }

  .image-42 {
    margin-top: -81px;
  }

  .body-header {
    margin-top: 12px;
  }

  .article-section {
    padding-right: 10%;
  }

  .image-43 {
    padding-top: 5%;
  }

  .div-block-8 {
    margin-bottom: -82px;
  }

  .quote-link {
    margin-left: -7px;
  }

  .div-block-10 {
    margin-top: -5%;
  }

  .image-49 {
    top: -19%;
  }

  .div-block-11 {
    margin-top: 29px;
  }

  .image-51 {
    margin-top: -60px;
  }

  .image-55 {
    top: -22.797px;
  }

  .column-11, .column-12, .column-13 {
    padding-bottom: 0;
  }

  .image-62 {
    position: static;
  }

  .div-block-27 {
    padding-left: 20%;
  }

  .div-block-29, .div-block-30 {
    justify-content: center;
    display: flex;
  }

  .quote-link-2 {
    margin-left: -7px;
  }

  .article-image---des-challenge {
    background-position: 100% 100%;
    background-size: cover;
  }

  .div-block-37 {
    padding-top: 2%;
  }

  .div-block-6-mobile {
    text-align: center;
    padding-left: 0%;
  }

  .heading-white-mobile {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .image-2 {
    margin-left: 97px;
  }

  .image-3 {
    margin-left: 25px;
  }

  .intro-image {
    padding-bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
  }

  .column {
    object-fit: fill;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .image-4 {
    margin-left: 139px;
  }

  .image-5 {
    margin-left: -34px;
  }

  .image-6 {
    margin-left: -31px;
  }

  .heading {
    text-align: left;
    margin-top: 0;
    padding-left: 0;
    display: block;
  }

  .column-2 {
    height: 100%;
    overflow: hidden;
  }

  .image-7 {
    max-height: 100%;
  }

  .image-8 {
    max-height: 100%;
    margin-left: 42px;
    padding-top: 32px;
    font-size: 1.25%;
    line-height: 1.5%;
  }

  .image-8:hover {
    max-width: 100%;
    margin-top: 0;
    margin-left: 48px;
    padding-top: 32px;
    padding-bottom: 3px;
  }

  .image-8:active {
    height: 89%;
  }

  .image-9 {
    margin-bottom: -10px;
    margin-left: 5px;
    position: relative;
  }

  .heading-2 {
    font-size: 18px;
    line-height: 18px;
  }

  .heading-3, .heading-4 {
    font-size: 16px;
  }

  .body-large {
    font-size: 14px;
  }

  .article-column {
    padding-top: 11px;
  }

  .intro-divider {
    margin-top: -49px;
  }

  .intro-text {
    text-align: left;
    margin-bottom: 26px;
    padding-left: 29px;
    padding-right: 10px;
    display: block;
  }

  .column-6 {
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 2%;
    display: flex;
  }

  .menu-button {
    background-color: #f8f8f8;
    margin-right: 24px;
  }

  .icon {
    font-size: 36px;
  }

  .container-2 {
    overflow: visible;
  }

  .image-10 {
    padding-right: 0;
  }

  .nav-menu-2 {
    display: none;
  }

  .image-11 {
    width: 100%;
    min-height: 50%;
    padding-left: 0;
  }

  .image-14 {
    width: 60%;
  }

  .image-30 {
    margin-top: 3px;
    margin-left: 118px;
  }

  .image-32 {
    margin-top: -3px;
    top: 57px;
    left: 38px;
  }

  .image-34 {
    width: 4%;
    left: 19%;
  }

  .image-36 {
    width: 4%;
    left: 243px;
  }

  .link-block {
    padding-left: 0%;
  }

  .image-41 {
    height: 75%;
    left: -64px;
  }

  .div-block-6 {
    padding-left: 5%;
  }

  .image-42 {
    margin-top: -43px;
  }

  .div-block-7 {
    height: 8rem;
  }

  .column-8 {
    overflow: visible;
  }

  .article-section {
    padding-left: 4%;
    padding-right: 4%;
  }

  .preview-button {
    height: 6rem;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
  }

  .image-43 {
    margin-left: 1px;
    padding-top: 5%;
    padding-left: 0;
  }

  .quote-link {
    margin-left: -1px;
  }

  .div-block-10 {
    margin-top: -13%;
  }

  .image-49 {
    top: -47%;
  }

  .div-block-11 {
    margin-top: 0;
  }

  .column-9 {
    margin-top: 28px;
  }

  .image-51 {
    margin-top: -29px;
  }

  .preview-button-2 {
    height: 6rem;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
  }

  .image-52 {
    top: -40.062px;
  }

  .div-block-15 {
    height: 10rem;
  }

  .image-55 {
    top: -61.797px;
  }

  .div-block-18 {
    margin-top: 10%;
  }

  .div-block-27 {
    padding-left: 0%;
  }

  .quote-link-2 {
    margin-left: -1px;
  }

  .block-img {
    height: 8rem;
  }

  .heading-white, .heading---centred {
    text-align: left;
    margin-top: 0;
    padding-left: 0;
    display: block;
  }

  .div-block-6-mobile {
    padding-left: 5%;
  }

  .heading-white-mobile {
    text-align: left;
    margin-top: 0;
    padding-left: 0;
    display: block;
  }

  .titile-block {
    height: 8rem;
  }
}


@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Black.ttf') format('truetype'), url('../fonts/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'), url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'), url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype'), url('../fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}